body{
    text-align: center;
}

textarea,
fieldset{
    resize: none;
    border-radius: 10px;
}

form{
    display: inline-block;
}

[enctype="multipart/form-data"] {
    border: 1px solid black;
}

form[enctype="multipart/form-data"] {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}