.qe,
.gender {
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
}

tr:first-child > th {
    border-width: 2px;
}

th:first-child {
    border-width: 2px;
}

th {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

input {
    width: 50px;
    text-align: center;
}

.gender input {
    width: 150px;
    text-align: center;
    text-transform: capitalize;
}

[placeholder] {
    font-weight: bolder;
}

form {
    display: inline-block;
}

fieldset {
    border-radius: 10px;
}

li > ul {
    list-style-type: lower-latin;
}

section li {
    margin-bottom: 10px;
}

code {
    display: block;
    padding-left: 15px;
}